<div>
  <h3>{{tituloGrillaPersonas}}</h3>
  <div ui-grid="gridOptionsPersonas" class="myGrid"
    ui-grid-pagination
    ui-grid-resize-columns
  ></div>
  <br><br>
  <h3>{{tituloGrillaAmigos}}</h3>
  <div ui-grid="gridOptionsAmigos" class="myGrid"
    ui-grid-pagination
    ui-grid-resize-columns
  ></div>

  <br><br>  <br><br>

	<div class="container">
	  <!-- Modal -->
	  <div class="modal fade" id="myModal" role="dialog">
	    <div class="modal-dialog">
	    
	      <!-- Modal content-->
	      <div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal">&times;</button>
	          <h4 class="modal-title">{{ModalHeader}}</h4>
	        </div>
	        <div class="modal-body">   	
	          <ng-map center="{{mapa.latitud}}, {{mapa.longitud}}" ng-model="miMapa" id="miMapaModal">
			  	<custom-marker ng-repeat="marker in mapa.markers" position="{{marker.latitud}},{{marker.longitud}}">
				  			<div>
				  				<img width="25" src="{{marker.avatar}}" />
				  			</div>
			  	</custom-marker>
			  </ng-map>
	        </div>
	        <div class="modal-footer">
	          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
</div>
