<div class="Frm animated flash">
      <form class="" name="myForm">
        <label class="miEstilo">Modificar Datos</label><br><br>

        <input type="text" id="usuario" name="usuario" ng-model="user.usuario" placeholder="Ingrese su usuario" value="" required="true"><br>


        <input type="email" id="email" name="email" ng-model="user.email" placeholder="Ingrese su email" required="true"><br>

        <input type="password" id="clave" minlength="4" ng-model="user.password" placeholder="clave" required="true" value=""><br>

        <input type="text" id="perfil" name="perfil" ng-model="user.perfil" placeholder="perfil" value="" required="true"><br>

        <button class="button-green" id="guardar" ng-click="Modificar()" ng-disabled="myForm.$invalid"><span>Modificar </span></button><br><br>


      </form>
    </div>

    <h1 style="color:red;" ng-if ="!myForm.$valid">Todos los campos son obligatorios</h1>

    <h1 style="color:green;" ng-if ="myForm.$valid">Muy bien. a Cambiar no mas!!!!</h1>
