<tr style="color:red">

<td><img  class='fotoGrilla' ng-src="fotos/{{objEnv.foto}}" height="44" width="44"/></td>
							
										<td>{{objEnv.dni}}</td>
										<td>{{objEnv.partido}}</td>
										<td>{{objEnv.sexo | sexo}}</td>
										<td>{{objEnv.fecha}}</td>
<!--<td>{{user.perfil}}</td>-->
											
										<td><button ng-if="user.perfil !='comp'" class='btn btn-danger' name='Borrar' ng-click="Borrar(objEnv)">   <span class='glyphicon glyphicon-remove-circle'>&nbsp;</span>Borrar</button></td>
										
										<td><button ng-if="user.perfil !='comp'" class='btn btn-warning' name='Modificar' ng-click="Modificar(objEnv)"><span class='glyphicon glyphicon-edit'>&nbsp;</span>Modificar</button></td>


</tr>
	
