<tr style="color:blue">
										<td>{{objEnv.usuario}}</td>
										<td>{{objEnv.dni}}</td>
										<td>{{objEnv.password}}</td>
										<td>{{objEnv.tipo}}</td>
										
										<td><button class='btn btn-danger' name='Borrar' ng-click="Borrar(objEnv)">   <span class='glyphicon glyphicon-remove-circle'>&nbsp;</span>Borrar</button></td>
										
										<td><button class='btn btn-warning' name='Modificar' ng-click="Modificar(objEnv)"><span class='glyphicon glyphicon-edit'>&nbsp;</span>Modificar</button></td>
									
</tr>